.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

*{margin:0;padding:0;}


.header {
	text-align: center;
	font-size: 30px;
}

.logo {
	float: center;

}

input[type=text], input[type=password] {
    width: 90%;
    padding: 12px 20px;
    margin: 4px 4px;
    margin-bottom: 15px;
    border: 1px solid lightgray;
    font-size: 20px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}

input[type=checkbox] {
    font-size: 50px;
    margin-bottom: 15px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 90%;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    font-size: 18px;
}

h1 {
   align-content: center;
}

.container {
    padding: 16px;
}

form {
    width: 30%;
}

.