<!DOCTYPE html>
<!DOCTYPE html>
<html lang = "en">
<head>
    {% block title %}<title>Stock Metrics</title>{% endblock %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">

</head>

<body>
<center>
<img src="/static/images/logo.png" class="img-rounded" alt="Logo">
</center><br><br><br>

<center>
  <h2>Log in</h2>
  <form>
    <div class="container">
      <input type="text" name="username" placeholder="Username"><br>
    
      <input type="password" name="Password" placeholder="Password"><br>
      
      <button type="button"><a style="color: white; text-decoration: none;" href="index.html">Log in</a></button> <br>
      <label style="font-size: 18px"><a href="signup.html">Don't have an account? Click here to create one</a></label><br>
      <label style="font-size: 18px; color: black;"><a href="index.html">Home Page</a></label>
    </div>
  </form>
</center>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
        integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
        crossorigin="anonymous"></script>
        {% block content %}{% endblock %}
</body>
</html>